@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Bold.ttf) format('ttf');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: pink;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-size: 36px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 45px;
}

#img {
    width: 350px;
}

.buttons {
    display: flex;
    gap: 50px;
    position: absolute;
    bottom: 0;
}

#Yes {
    width: 75px;
}
#heart, #break {
    width: 75px;
    margin-bottom: 5px;
}

#heart:hover, #break:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#heart:active, #break:active {
    transform: scale(0.9);
}